*{
    margin:0;
    padding:0;
}
body{
    background-color: blueviolet;
    display: flex;
    justify-content: center;
    height: 100vh;
}
.container{
    background-color: white;
    display: flex;
    flex-direction: column;
    width: 700px;
    height: 450px;
    align-self: center;
    border-radius: 25px;
}
.row{

    display: flex;
    flex-direction: row;
    margin-top: 30px;
     
}
.col{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.container>.row{
    width:100%;
    justify-content: space-evenly;

}
 
#pic{
     
    border: 2px solid rgb(224, 129, 177);
    border-radius: 50%;
     
    
}
.name{
    font-size: x-large;
    font-weight: bolder;
    margin-top: 20px;
}
.score{
    font-size: xx-large;
    align-content: center;

}
.runs{
    font-size: xx-large;
    width: 200px;
    justify-content: space-evenly;
}
#tryagainbutton{
    background: linear-gradient(135deg, #c02425, #f0cb35);
    width: 150px;
    height: 50px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: x-large;
    color: cornsilk;
    padding: 10px;
    margin-top: 20px;
    margin-bottom: 20px;
    border-radius: 20px;
    outline: none;
    border: none;

}
#strikebutton{
    background: linear-gradient(135deg, #c02425, #f0cb35);
    width: 300px;
    height: 50px;
    font-size: x-large;
    color: cornsilk;
    padding: 10px;
    margin-top: 20px;
    margin-bottom: 20px;
    border-radius: 20px;
    outline: none;
    border: none;

}
#result{
    font-size: xx-large;
    color: rgba(240, 11, 99, 0.993); 
    text-align: center;
    margin-top: 50px;
    border: 3px solid blueviolet;
    border-radius: 50px;
    margin-right: 200px;
    margin-left: 200px;


}